.slider{
  height: 35vw;
  object-fit: cover;
  margin-top:20px;

}
h3{
  text-align: center;
}
.img{
  height:35vw;
  object-fit: cover;
}
.card{
  width:80%;
  margin:10%;
}
form{
  height:50%;
  width:40%;
  background-color: darkgray;
  margin-left:30%;
  padding:15px;
  margin-top:8%;
  box-shadow:10px 10px 10px 10px;
}
input{
  width:100%;
}

.btn1{
  
  
  margin-top:15px;
  margin-left:40%;
  width:20%;
  background-color: black;
  border-radius: 10px;
  border:none;
  font-size: 20px;
  
  color:white;

}
.btn1:hover{
  background-color: white;
  color:black
}
span{
  margin-left:5%;
}
.btn2{
  margin-top:15px;
  
  width:60%;
  background-color: black;
  border-radius: 10px;
  border:none;
  font-size: 20px;
  margin-left:15%;
  
  color:white;

}
